<!DOCTYPE html>
<html>
<head>
    {{#if PRODUCTION}}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-7913833609955757",
            enable_page_level_ads: true
        });
    </script>
    {{/if}}
    {{#if PRODUCTION}}
    <!-- Google Tag Manager -->
    <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});
        var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';
        j.async=true;j.src= 'https://www.googletagmanager.com/gtm.js?id='+i+dl;
        f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-WVJ78WB');
    </script>
    <!-- End Google Tag Manager -->
    {{/if}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>{{title}}</title>
    <meta name="description" content="{{description}}">
    <meta name="keywords" content="{{keywords}}">

    <!-- https://blog.bufferapp.com/free-seo-tools -->
    <!-- Open Graph meta tags -->
    <!-- http://ogp.me/ -->
    <meta property="og:title" content="{{title}}">
    <meta property=”og:type” content=”{{type}}”/> <!-- type: article/website/blog -->
    <meta property="og:description" content="{{description}}">
    <meta property="og:image" content="{{imageUrl}}">
    <meta property="og:url" content="{{url}}">
    <meta property="og:site_name" content="{{siteName}}"> <!--  -->
    <meta property="fb:admin" content="hbarve1">

    <!-- Twitter meta tags -->
    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:description" content="{{description}}">
    <meta name="twitter:image" content="{{imageUrl}}">
    <meta name="twitter:card" content="summary_large_image">

    <meta property="fb:app_id" content="1127493807309843" />
    <meta name="twitter:site" content="@2mayash">

    <!-- Add to homescreen -->
    <!--<link rel="manifest" href="manifest.json">-->

    <!-- Fallback to homescreen for Chrome <39 on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Mayash">
    <link rel="icon" sizes="192x192" href="https://mayash.xyz/favicon.ico">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Mayash">
    <link rel="apple-touch-icon" href="https://mayash.xyz/favicon.ico">

    <!-- Material Design Lite Libraries -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-orange.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <!-- Medium Draft css library -->
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/medium-draft/dist/medium-draft.css">

    {{#if PRODUCTION}}
    <!-- This link polyfill the browser according to its requirement. -->
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    {{/if}}
</head>
<body>
    {{#if PRODUCTION}}
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WVJ78WB"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {{/if}}
    {{#if PRODUCTION}}
    <script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '1127493807309843',
            xfbml      : true,
            version    : 'v2.8'
        });
        FB.AppEvents.logPageView();
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
    {{/if}}
    <div id="app">{{{app}}}</div>

    <script>
        window.__INITIAL_STATE__ = {{{initialState}}};
    </script>
    {{#if PRODUCTION}}
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-78687441-2', 'auto');
    ga('send', 'pageview');
    </script>
    {{/if}}
</body>
</html>
